.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
}

.scene-grid {
    display: grid;
    grid-template-columns: 4fr 1fr ;
}

.language-grid {
    display: grid;
    grid-template-columns: 2fr ;
}

header {
    grid-area: "header";
    text-align: center;
}

footer {
    grid-area: "footer";
}

.sgroup .image-container {
    
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    border-color: #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}

.image-container img{
}


.pgroup {
    grid-area: "pgroup";
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 30px;
}

.sgroup {
    grid-area: "sgroup";
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 30px;
    align-items: center;
}

.sgroup .head{
    text-align: center;
}

.lgroup {
    grid-area: "lgroup";
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 30px;
}

body {
    grid-template-areas:
        "header header header"
        "pgroup pgroup pgroup"
        "sgroup sgroup sgroup"
        "lgroup lgroup lgroup"
        "footer footer footer";
    margin: 0;
    background-color: #f7f7f7;
    color: #4a4a4a;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;

}


h1 {
    font-size: 35px;
    margin: 20px 20px 55px 0px;
}
h1>span {color: #266b77;}

h3 {padding-bottom: 5px; border-bottom: 1px dotted #999; color: #266b77;margin-left: 30px;}


p {
    margin: 20px 0px;
    font-size: 16px;
    line-height: 1.4em;
}

input {
    padding: 8px;
    margin: 10px;
}

.example {
    margin-left: 310px;
}


.btn-create {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
    cursor: pointer;
    text-decoration: none;
}
.btn-create:hover { background-color: #e3e3e3; border-color: rgba(0,0,0,0.5); }
.btn-create:active { background-color: #CCC; border-color: rgba(0,0,0,0.9); }


footer {
    margin: 0;
    color: #4a4a4a;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10%;
}